.header {
  padding: 0 20px;
  width: 760px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d2d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logoBox {
  display: flex;
  align-items: center;
}

.header .logoBox h1 {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5px;
}

.header .controller {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .controller p {
  margin-left: 3px;
}