<header class="header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">{{ title }}</a>
    </div>
    
    <nav class="nav">
      <ul class="nav-list">
        <li><a routerLink="/catalog" routerLinkActive="active">Catálogo</a></li>
        <li><a routerLink="/cart" routerLinkActive="active">Carrinho</a></li>
        <li><a routerLink="/user" routerLinkActive="active">Minha Conta</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ul>
    </nav>
  </div>
</header>
